/* app.component.scss */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  background-size: 40px 40px;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

.chat-logo {
  height: 80px;
  object-fit: contain;
}


.chat-header {
  justify-self: center;
  padding: 1rem;
  color: #ff6a00;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid #ff6a00;
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-bubble {
  max-width: 75%;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  line-height: 1.4;
  word-wrap: break-word;
}

.chat-bubble.bot {
  align-self: flex-start;
  background-color: #ffe8cc;
  color: #333;
}

.chat-bubble.user {
  align-self: flex-end;
  background-color: #ffd1a3;
  color: #333;
}


.room-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #555;
}

.chat-input {
  display: flex;
  padding: 1rem;
  border-top: 2px solid #ff6a00;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ff6a00;
  border-radius: 6px;
  outline: none;
  margin-right: 0.5rem;
}

.chat-input button {
  padding: 0.5rem 1rem;
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #e65c00;
}